#frameworks
torch>=2.0.0
torchvision
lightning>=2.1.0        
monai[all]>=1.3.0      

# MLOps and config 
hydra-core>=1.3.0      
omegaconf               
wandb                  

# EDA
numpy
pandas
matplotlib
seaborn
scikit-learn
jupyterlab            
ipywidgets
flake8